.container {
  height: 100vh;
  overflow: hidden;

  div[class$="-drop-target"] {
    box-sizing: border-box;
  }

  .inventory-drop-target {
    position: relative;
    display: inline-block;
    width: 33.333333%;
    height: 100%;
    background: lightgrey;
  }

  .target-circle {
    position: absolute;
    height: 100%;
    width: 50vw;
    border-radius: 50%;
    background: none;
    opacity: 0;
    transition: opacity .5s ease-out;
  }

  .left-drop-target {
    background: lightgrey;
    width: 33.333333%;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: right;

    .card {
      left: -250px !important;
    }

    .target-circle {
      box-shadow: 15vw 0px 190px 80px #552222 !important;
      left: -50vw;
      &.active {
        opacity: .5;
      }
    }
  }

  .right-drop-target {
    background: lightgrey;
    width: 33.333333%;
    height: 100%;
    min-height: 100%;
    position: relative;
    display: inline-block;

    .card {
      left: 100% !important;
    }

    .target-circle {
      box-shadow: -15vw 0px 190px 80px #354926;
      left: 100% !important;
      &.active {
        opacity: .5;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .right-drop-target, .left-drop-target {
      width: 47.5%;
    }
    .inventory-drop-target {
      width: 5%;
    }
    .target-circle {
      z-index: 1;
    }
  }
}