.container {
  height: 100vh;
  overflow: hidden; }
  .container div[class$="-drop-target"] {
    box-sizing: border-box; }
  .container .inventory-drop-target {
    position: relative;
    display: inline-block;
    width: 33.333333%;
    height: 100%;
    background: lightgrey; }
  .container .target-circle {
    position: absolute;
    height: 100%;
    width: 50vw;
    border-radius: 50%;
    background: none;
    opacity: 0;
    transition: opacity .5s ease-out; }
  .container .left-drop-target {
    background: lightgrey;
    width: 33.333333%;
    height: 100%;
    position: relative;
    display: inline-block;
    text-align: right; }
    .container .left-drop-target .card {
      left: -250px !important; }
    .container .left-drop-target .target-circle {
      box-shadow: 15vw 0px 190px 80px #552222 !important;
      left: -50vw; }
      .container .left-drop-target .target-circle.active {
        opacity: .5; }
  .container .right-drop-target {
    background: lightgrey;
    width: 33.333333%;
    height: 100%;
    min-height: 100%;
    position: relative;
    display: inline-block; }
    .container .right-drop-target .card {
      left: 100% !important; }
    .container .right-drop-target .target-circle {
      box-shadow: -15vw 0px 190px 80px #354926;
      left: 100% !important; }
      .container .right-drop-target .target-circle.active {
        opacity: .5; }
  @media screen and (max-width: 767px) {
    .container .right-drop-target, .container .left-drop-target {
      width: 47.5%; }
    .container .inventory-drop-target {
      width: 5%; }
    .container .target-circle {
      z-index: 1; } }
